<p style="color: green"><%= notice %></p>

<h1>Platforms</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  </ol>
</nav>

<div id="platforms">
  <% @platforms.each do |platform| %>
    <p>
      <%= link_to platform.name , platform %>
    </p>
  <% end %>
</div>
