<p style="color: green"><%= notice %></p>

<div id="about">
  <% @about.each do |about| %>
    <h1 class="title is-3"><%= about.title %></h1>
    <p class="content is-normal"><%= about.description %></p>
  <% end %>
</div>
