<p style="color: green"><%= notice %></p>

<div id="about">
  <% @contact.each do |contact| %>
    <p class="title is-3">Name: <%= contact.name %></p>
    <p class="content is-normal">Email: <%= contact.email %></p>
  <% end %>
</div>