
<%= render partial:'layouts/filter'%>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  </ol>
</nav>

<%= render partial:'layouts/display'%>